@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');
body{
    font-family: "Barlow",sans-serif;
    line-height: 1.7;
    color:#516171;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color:#092032;
}
a{
    color:#092032;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}
img{
    width: 100%;
}

/* Navbar */
.top-nav{
    background-color: #ff4d29;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-nav p{
    margin-bottom: 0;
    display: inline-block;
    margin-right:16px;
    color: #fff;
}
.top-nav i,
.top-nav span{
    vertical-align: middle;
}

/* social-links */
.social-links a{
    width: 28px;
    height: 28px;
    background-color:rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items:center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    border-radius: 100%;
}
.social-links a:hover{
    background-color: #fff;
    color: #ff4d29;
}
.navbar{
    box-shadow:var(--shadow);
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active{
    color:#ff4d29;
}
.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color:#092032;
}
.navbar-brand span{
    color:#ff4d29;
}

/* BTN */
.btn{
    padding: 9px 24px;
    font-weight: 500;
}
.btn-brand{
    background-color: #ff4d29;
    color: #fff;
    border-color:#ff4d29;
}
.btn-brand:hover{
    color:black;
    background-color: #ff4d29;
}